.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    height: 223px;
    margin: 0;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url("../../../src/assets/img/banner.png");
    background-position: center;
    @include drop-shadow;

    @include media-phone {
        justify-content: start;
        height: 111px;
        padding-left: 16px;
    }
}