* {
    font-family: Montserrat, "DM Sans", sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    min-width: 320px;
    max-width: 1280px;
    text-align: center;
}

.wrapper {
    max-width: clamp(17rem, 90vw, 1240px);
    width: 100%;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: $secondary-color;
    -webkit-text-stroke: 2px $tertiary-color;
    paint-order: stroke fill;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}