@import "../../index";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 350px){
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .logo {
        width: 210px;
        height: 68px;

        @include media-phone {
            width: 145px;
            height: 47px;
        }
    }
    nav {
        display: flex;
        column-gap: 57px;
        font-size: 1.5rem;

        @include media-phone {
            column-gap: 26px;
            font-size: 0.75rem;
        }
    }

    a:hover {
        text-decoration: underline 1px;
    }
    .active {
        text-decoration: underline 1px;
    } 
}