@import "../../index";

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $tertiary-color;
    row-gap: 28px;
    padding: 66px 0 29px 0;

    .logo-footer {
        width: 122px;
        height: 39px;
    }

    p {
        font-size: 1.5rem;
        color: $secondary-color;
    }

    @include media-phone {
        padding: 66px 0 58px 0;
        
        .mobile-break-line {
            display: flex;
        }
        
        p {
            font-size: 0.75rem;
        }
    }
}