@import "../../index";

.banner {
    display: block;
    width: 100%;
    height: 223px;
    margin: 0;
    border-radius: 25px;
    background-position: center;
    @include drop-shadow;
    overflow: hidden;

    @include media-phone {
        height: 111px;
        border-radius: 10px;
        filter: none;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        @include media-phone {
            padding: 0 1rem;
            justify-content: start;
        }
    }

    .darker-overlay {
        background: #000A;
    }

    .dark-overlay {
        background: #0005;
    }

    .lighter-overlay {
        background: #FFFA;
    }

    .light-overlay {
        background: #FFF5;
    }
}

.no-drop-shadow {
    filter: none;
}